<%= render 'navbar'%>

<div class='card'>
  <div class='card-body'>
    <h2 class='card-title d-flex justify-content-between mb-4'>
      <span> <%= @project.name %> </span>
      <div> 
        <%= link_to 'Edit', edit_project_path(@project), class: 'btn btn-primary' %>
        <%= link_to 'Destroy', @project, method: :delete, class: 'btn btn-primary', data: { confirm: 'Are you sure?' } %>
        <%= link_to 'Back', projects_path, class: 'btn btn-primary' %>
      </div>
    </h2>
    <Strong> Description: </Strong>
    <br>
    <span> <%= @project.description %> </span>
    <br><hr>
    <Strong>Add Task<Strong>
    <%= render 'tasks/form'%>
    <hr>
    <h2 class='card-title d-flex justify-content-between mb-4'>Listing Tasks </h2>
    <% @project.tasks.each do |task| %>
      <% if task.persisted? %>
        <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900 text-left">
          name:<%= task.name %>
        </td>
        <br>
        <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500 text-left">
          description:<%= task.description %>
        </td>
        <br>
        <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500 text-right">
          status:<%= task.status %>
        </td>
        <br>
        <div> 
          <%= link_to 'Edit', edit_project_path(@project), class: 'btn btn-primary' %>
          <%= link_to 'Destroy', [task.project, task], method: :delete, class: 'btn btn-primary', data: { confirm: 'Are you sure?' } %>
        </div>
        <hr>

      <% end %>
    <% end %>
  </div>
</div>



